:root {
  --secondary-font-family: "Inter-SemiBold", Helvetica;
  --secondary-font-size: 20px;
  --secondary-font-style: normal;
  --secondary-font-weight: 600;
  --secondary-letter-spacing: 0px;
  --secondary-line-height: normal;
}
